doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Login - CBT
        link(rel="stylesheet", href="/assets/css/bootstrap-grid.css") 
        link(rel="stylesheet", href="/assets/css/bootstrap-reboot.css") 
        link(rel="stylesheet", href="/assets/css/bootstrap-utilities.css") 
        link(rel="stylesheet", href="/assets/css/bootstrap.css") 
        link(rel="stylesheet", href="/assets/css/bootstrap.rtl.css") 
    body 
        header(class="")
            nav(class="navbar navbar-expand-lg bg-body-tertiary p-0")
                div(class="container-fluid bg-primary")
                    a(class="navbar-brand text-warning" href="/admin") CBT
                    button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
                        span(class="navbar-toggler-icon")
                    div(class="collapse navbar-collapse" id="navbarText")
                        ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                            li(class="nav-item mx-3")
                                a(class="nav-link text-warning" href="/admin/signup") Register
                            li(class="nav-item mx-3")
                                a(class="nav-link text-warning" href="/admin/login") Login
                            li(class="nav-item mx-3")
                                a(class="nav-link text-warning" href="/admin/student") Student
                            li(class="nav-item mx-3")
                                a(class="nav-link text-warning" href="/admin/result") Result 
                            li(class="nav-item mx-3")
                                a(class="nav-link text-warning" href="/admin/logout") Logout
                        span(class="navbar-text text-warning") Admin
        script(src="/assets/js/bootstrap.bundle.js") 
        script(src="/assets/js/bootstrap.bundle.js") 
        script(src="/assets/js/bootstrap.bundle.js") 